<h1> Put in a new recipe</h1>
<form action="/recipes" method="post">
  <label>Recipe Title:</label>
  <input type="text" name="content"><br>
  <label>First Ingredient:</label>
    <input type="text" name="recipe_first_ingredient"><br>
  <label>Second Ingredient:</label>
    <input type="text" name="recipe_second_ingredient"><br>
  <label>Third Ingredient:</label>
    <input type="text" name="recipe_third_ingredient"><br>
  <label>Fourth Ingredient:</label>
    <input type="text" name="recipe_fourth_ingredient"><br>
  <label>Instructions:</label>
    <input type="text" name="instructions"><br>
    <input type="submit" name="Create Recipe!">
</form>
