<h2>Welcome to Your Recipes, <%=current_user.username%>! </h2>

  <% @recipes.each do |recipe| %>
  <% if recipe.user_id == current_user.id %>
    <h4><li><a href="/recipes/<%=recipe.id%>"><%= recipe.content %></a></h4>
    <p><%= recipe.formatted_created_at %></p></li>
    <% end %>
  <% end %>
