<h2>Welcome back! Log in:</h2>
<form action="/login" method="POST">
  <label>Username</label>
  <input id="username" type="text" name="username">
  <label>password</label>
  <input id="password" type="password" name="password">
  <input id="submit" type="submit" value="Enter">
