<h3>Finding the right recipes just got way easier! Create an Account:</h3>

<form action="/signup" method="POST">
  <label>Username</label>
  <input id="username" type="text" value="username" name="username">
  <label>email</label>
  <input id="email" type="email" value="email" name="email">
  <label>password</label>
  <input id="password" type="password" value="password" name="password">
  <input id="submit" type="submit" value="Join">
  
