<h2>Your Kitchen Inventory<h2>
  <h3>Fridge & Freezer </h3>
  <% @ingredients.each do |ingredient|%>
    <% if ingredient.fridge_freezer_item.size == 0 %>
      <%= flash[:errors] = "Fridge and Freezer are empty!" %>
    <% else %>
      <%= ingredient.fridge_freezer_item %>
    <% end %> 
  <% end %>
  <br>
  <h3> Pantry </h3>
  <% @ingredients.each do |ingredient|%>
  <%= ingredient.pantry_item %>
  <% end %>
  <br>
  <h3>Spice Cabinet</h3>
  <% @ingredients.each do |ingredient|%>
  <%= ingredient.spice_cabinet_item %>
  <% end %>
  <a href="/ingredients/new">Add New Ingredients</a>
