<h2>Your Kitchen Inventory<h2>
  <h3>Fridge & Freezer </h3>
  <% @ingredients.each do |ingredient|%>
    <% if ingredient.fridge_freezer_item.size == 0 %>
      <%= flash[:errors] = "Fridge and Freezer are empty!" %>
    <% else %>
      <li><%= ingredient.fridge_freezer_item %></li>
    <% end %>
  <% end %>
  <br>
  <h3> Pantry </h3>
  <% @ingredients.each do |ingredient|%>
  <li><%= ingredient.pantry_item %></li>
  <% end %>
  <br>
  <h3>Spice Cabinet</h3>
  <% @ingredients.each do |ingredient|%>
  <li><%= ingredient.spice_cabinet_item %></li>
  <% end %>
  <a href="/ingredients/new">Add New Ingredients</a>
