<h2>Add to your Kitchen Inventory List!</h2>
<form action="/ingredients" method="POST">
  <label>Food in the Fridge and Freezer</label><br>
  <% @ingredients.each do |ingredient|%>
  <li><%= ingredient.fridge_freezer_item %></li>
  <% end %>
  <input type=text name="fridge"><br>

<label>Food in the Pantry</label><br>
  <% @ingredients.each do |ingredient|%>
  <li><%= ingredient.pantry_item %></li>
  <% end %>
  <input type=text name="pantry"><br>

<label>Spices & Seasonings <label><br>
  <% @ingredients.each do |ingredient|%>
  <li><%= ingredient.spice_cabinet_item %></li>
  <% end %>
  <input type=text name="spice"><br>
  <input type="submit" name="Add">
