<h2>Your Kitchen Inventory<h2>
  <h3>Fridge & Freezer </h3>
  <%= @ingredient.fridge_freezer_item %>
  <p>button</p>
  <p>button</p>
  <br>
  <h3> Pantry </h3>
  <%= @ingredient.pantry_item %>
  <p>button</p>
  <p>button</p>
  <br>
  <h3>Spice Cabinet</h3>
  <%= @ingredient.spice_cabinet_item %>
  <p>button</p>
  <p>button</p>

  <a href="/ingredients/new">Add New Ingredients</a>
