<h3> Welcome to Chef Helper!</h3>
<p>What will you make today?</p>


<% if !logged_in? %>
<p><a href="/signup">Sign Up</a> or
<a href="/login">Log In</a></p>
<% else %>

<h1> Welcome to your kitchen, <%= current_user.username %>!</h1>
<h3>Chefhelper is more than an electronic recipe book. Under "My Kitchen", you will add your kitchen's inventory, and Chefhelper
will find all of the recipes possible to make based on what's in your kitchen! You can also add your own recipes and
see the recipes of other Chefhelper users. Follow the navigation bar above to get started!</h3>
<% end %>
